@import '../styles/_theme.scss';

.app {
  min-height: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
