@import '../styles/_theme.scss';

$width: 400px;
$height: 40px;

.input {
  width: $width;
  height: $height;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  border: 3px solid $color1;
  border-radius: $height / 2;
  font-size: $fontSize;
  background-color: $color2;
}
