$font: "Metric";
$fontSize: 14px;
$fontWeight: 500;

$grayscaleColor1: #353535;
$grayscaleColor2: #4f4f4e;
$grayscaleColor3: #757576;
$grayscaleColor4: #aaaaaa;
$grayscaleColor5: #e6e6e6;
$grayscaleColor6: #f8f8f8;

$primaryColor1: #330072;
$primaryColor2: #5b63c6;
$primaryColor3: #2a1959;
$primaryColor4: #4c56a1;

$secondaryColor1: #eb2944;
$secondaryColor2: #10936e;
$secondaryColor3: #f48430;
$secondaryColor4: #efa5d3;
$secondaryColor5: #944baf;
$secondaryColor6: #f6c218;
$secondaryColor7: #2d90cf;
$secondaryColor8: #78d656;
$secondaryColor9: #e0b496;
$secondaryColor10: #8a683e;
$secondaryColor11: #cba9d0;
$secondaryColor12: #47c6b6;

$whiteColor: #FFFFFF;

:export {
  font: $font;
  fontSize: $fontSize;
  grayscaleColor1: $grayscaleColor1;
  grayscaleColor2: $grayscaleColor2;
  grayscaleColor3: $grayscaleColor3;
  grayscaleColor4: $grayscaleColor4;
  grayscaleColor5: $grayscaleColor5;
  grayscaleColor6: $grayscaleColor6;
  primaryColor1: $primaryColor1;
  primaryColor2: $primaryColor2;
  primaryColor3: $primaryColor3;
  primaryColor4: $primaryColor4;
  secondaryColor1: $secondaryColor1;
  secondaryColor2: $secondaryColor2;
  secondaryColor3: $secondaryColor3;
  secondaryColor4: $secondaryColor4;
  secondaryColor5: $secondaryColor5;
  secondaryColor6: $secondaryColor6;
  secondaryColor7: $secondaryColor7;
  secondaryColor8: $secondaryColor8;
  secondaryColor9: $secondaryColor9;
  secondaryColor10: $secondaryColor10;
  secondaryColor11: $secondaryColor11;
  secondaryColor12: $secondaryColor12;
  whiteColor: $whiteColor;
}
